<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/register.css">
    <title>Registro</title>

</head>



<body>
    <header>
    <div class="logobarra">
        <a href="/"><img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo"></a>        <div class="barra_busqueda">
            <input type="text">
            <button><i class="fas fa-search"></i></button>
            
        </div>
    </div>

    <div class="hand">
        <i class="fas fa-hand-holding-usd"></i>
        Compra en cuotas y sin tarjeta de credito
    </div>
    <nav>
        <ul>
            <li><a href="">ofertas</a></li>
            <li><a href="">tiendas oficiales</a></li>
            <li><a href="">vender</a></li>
            <li><a href="">ayuda</a></li>
        </ul>
        <ul>
            <li><a href="/register">crea tu cuenta</a><i class="fas fa-address-card"></i></li>
            <li><a href="/login">ingresá</a><i class="fas fa-sign-in-alt"></i> </li>
            <li><a href="">mis compras</a><i class="fas fa-shopping-basket"></i></li>
        </ul>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </nav>
    </header>

    <img src="/images/img-home-banner.jpg" alt="">

    <main>
        <form action="">
            <input type="text" placeholder="Nombre y apellido">
            <input type="text" placeholder="Nombre de usuario">
            <input type="email" placeholder="E-mail" name="" id="">
            <h2>Fecha de nacimiento</h2>
            <input type="date" name="" id="">
            <input type="text" placeholder="Domicilio">
            <h2>Perfil del usuario</h2>
            <ul>
                <il>
                    <input type="radio" id="comprador" name="comprador" value="comprador">
                    <label for="comprador">Comprador</label>
                    
                </il>
                <il>
                    <input type="radio" id="vendedor" name="vendedor" value="vendedor">
                    <label for="vendedor">Vendedor</label> 
                </il>
            </ul>
            <h2>Intereses</h2>
            <ul>
                <li>
                    <input type="checkbox" name="" id="electro-check">
                    <label for="electro-check">Electro</label> 
                </li>
                <li>
                    <input type="checkbox" name="" id=""> 
                    <label for="moda-check">Moda</label>
                </li>
                <li>
                    <input type="checkbox" name="" id=""> 
                    <label for="hogar-check">Hogar</label>
                </li>
                <li>
                    <input type="checkbox" name="" id=""> 
                    <label for="jugueteria-check">Juguetería</label>
                </li>
                <li>
                    <input type="checkbox" name="" id=""> 
                    <label for="vida-check">Vida sana</label>
                </li>
            </ul>  

            <img src="" alt="foto de usuario">

            <input class="pass" type="password" placeholder="Elegí tu contraseña">
            <input class="pass" type="password" placeholder="Confirmá tu contraseña">
            
            <input type="button" value="Enviar">
            <input type="button" value="Borrar">
        </form>
    </main>

    <footer>
        <article>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500 </h3>
            <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin </h3>
            <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
        <article>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>
    </footer>
</body>
</html>